/* Circle *DONE* */

nav.aanwrap a {
	position: fixed;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav.aanwrap a.aan_prev {
	left: 0;
}

nav.aanwrap a.aan_next {
	right: 0;
}

.aan-extrainfo {display:none;}

.aan_arrowicon {display:none;}
.aanwrap a {
	margin: 0 30px;
	width: 50px;
	height: 50px;
}

.aanwrap a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.aanwrap .icon-wrap {
	position: relative;
	display: block;
	margin: 10% 0 0 10%;
	width: 80%;
	height: 80%;
}

.aanwrap a.aan_next .icon-wrap {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.aanwrap .icon-wrap::before,
.aanwrap .icon-wrap::after {
	position: absolute;
	left: 25%;
	width: 3px;
	height: 50%;

	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.aanwrap .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(30deg);
	transform: translateX(-50%) rotate(30deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.aanwrap .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-30deg);
	transform: translateX(-50%) rotate(-30deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.aanwrap a:hover::before {
	opacity: 1;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.icon-wrap {background:none!important;}

.aanwrap a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.aanwrap a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
}
