/* FILL SLIDE */
nav.aanwrap a {
	position: fixed;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	font-size:20px;
}

nav.aanwrap a.aan_prev {
	left: 0;
}

nav.aanwrap a.aan_next {
	right: 0;
}



nav.aanwrap .icon-wrap {
	position: relative;
	z-index: 100;
	display: block;
	padding: 55px 10px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav.aanwrap .icon-wrap::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 110%;

	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

nav.aanwrap a.aan_prev .icon-wrap::before {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

nav.aanwrap a.aan_next .icon-wrap::before {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
nav.aanwrap .aan_arrowicon {

	position: relative;
}
nav.aanwrap div {
	position: absolute;
	padding: 20px;
	top: 0;
	width: 440px;
	height: 144px;

	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

nav.aanwrap a.aan_prev div {
	left: 0;
	padding: 0px 140px 0px 30px;
	text-align: right;
	border-radius: 0 6px 6px 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

nav.aanwrap a.aan_next div {
	right: 0;
	padding: 0px 70px 0px 140px;
	border-radius: 6px 0 0 6px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

nav.aanwrap div span.aan_prevtitle,nav.aanwrap div span.aan_nexttitle {
	display: inline-block;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1;
	font-weight: bold;
	margin-top:20px;
}

nav.aanwrap h3 {
	margin: 0;
	padding: 8px 0 10px;

	font-weight: 400;
	font-size: .75em;
	line-height: 1;

}

nav.aanwrap img {
	position: absolute;
	top: 20px;

}

nav.aanwrap a.aan_prev img {
	right: 20px;
}

nav.aanwrap a.aan_next img {
	left: 20px;
}

nav.aanwrap a:hover .icon-wrap::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

nav.aanwrap a:hover div {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
